/*Paletton link: http://paletton.com/palette.php?uid=73j0u0kidGa7QVLdvOAmfxWqRtK*/
*{
   border: 0;
   padding: 0;
   margin: 0;
   font-family: 'Montserrat', sans-serif;

}
body{
   display: flex;
   flex-direction: column;

}
header{
   width: 100vw;
}

.headImg{
   width:100%;
}

.navDraw{
   position: fixed;
   top: 0px;
   left:0px;
   width:100%;
   display: flex;
   padding:10px;
   box-sizing: border-box;
   background: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));
   z-index: 5;
}
.homePage{
   text-decoration: none;
}
.name{
   font-size: 45px;
   color: #52B8BD;
   font-family: 'Merienda', cursive;

}
nav{
   margin-left: auto;
   padding: 15px;
}
nav ul.nav li{
   display: inline-block;

}
.navBut{
   text-decoration: none;
   font-size: 20px;
   color: #FFB16E;
   padding: 3px 10px;
   margin: 0px 20px;
   border-radius: 10px;
   transition: 0.3s padding;
   transition: 0.3s border;
   transition:0.3s margin;
}

.active{

}

.navBut:hover{
   padding: 3px 23px;
   margin: 0px 5px;
   border: 2px solid #52B8BD;
}

/*Center Content*/
.center{
   flex: 1 0 auto;
   display: inline-flex;
}
/*   SIDEBAR    */

.sidebar{
   margin-top: -4px;
   width:20%;
   height: 100vh;
   overflow-y: auto;
   float:left;
   border-right: 3px solid rgb(204,204,204);
   position: sticky;
   top: 0;
}
.sideHead{
   width: 100%;
   padding: 5px 0px;
   text-align: center;
   color: #6380C8;
   font-weight: 600;
   background-color: rgb(204,204,204);
}
.sidebar ul{
   width:100%;
}
.sidebar ul li{
   width:100%;
   border-bottom: 2px solid rgb(204,204,204);

}
.category{
   padding-left: 50px;
   text-decoration: none;
   color: #000;
   font-size: 1.2rem;
   width: 100%;
   padding-top: 15px;
   padding-bottom: 15px;
   margin-top: 10px;
   margin-bottom: 10px;
   box-sizing: border-box;

}
.mainContent{
   display: inline-block;
   margin: 3%;
   width: 75%;
   box-sizing: border-box;
   float:left;
   background-color:rgb(204,204,204);
   height: 50px;
   text-transform: uppercase;
}
.heading{
   width: 100%;
   text-align: center;
   padding-top: 10px;

}

.heroes{
   display: grid;
   grid-template-columns:  auto auto auto;
   grid-gap: 10px;
   margin-top: 50px;

}

div.hero{
   height: 300px;
   border: 2px solid #ccc;
   border-radius: 10px;
}

.hero h4{
}




/*   FOOTER    */

.footer{
   width: 100vw;
   height: 100px;
   background-color: #333;
   display: inline-flex;
   color: #fff;
   /*   FOOTER*/
      font-size: 10px;



}
.element{
   width:80vw;
   margin auto;
   display: flex;
   justify-content: center;
}

.mem{
      list-style-type: none;
}
.team{
   padding : 5px;
}
.rights{
   padding-top: 20px;
   padding-left: 30px;
   padding-right: 30px;
}
.social{
   padding-top: 20px;
   padding-left: 30px;
   padding-right: 30px;
}
